body {
  background-color: burlywood;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}
.App {
  text-align: center;
}
h1 {
  margin: 0;
  margin-bottom: 1rem;
}
.input {
  border: 1px solid rgb(41, 29, 29);
  border-radius: 0.3em;
  padding: 0.35rem;
  width: 7em;
}
.equals {
  font-size: 2rem;
  font-weight: bold;
}
select {
  margin-left: 1rem;
  width: 4.5em;
  padding: 0.25rem;
  background-color: khaki;
}
